@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #000000;
  font-family: 'Roboto Mono', monospace;
}

.dspnone {
  display: none;
}

.bg {
  height: 100vh;
  transition: all 2s;
}

.bg_img {
  position: absolute;
  height: 50%;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  stroke: #2e4057;
  filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 15px #ff80b3) drop-shadow(0px 0px 40px #ff4d94) drop-shadow(0px 0px 60px #ff0066);
  transition: all 0.5s;
  cursor: pointer;
}

.transform {
  transform: translateX(-100%);
  opacity: 0;
}

.vd #myVideo {
  display: none;
  position: absolute;
  transform-origin: bottom left;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -4;
  visibility: visible;
}

.block {
  display: none;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  transition: all 2s;
  height: 100vh;
}

.block .txt {
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
}

.dspblock {
  opacity: 1 !important;
  display: flex;
  transition: all 2s;
}

.dspblock2 {
  display: block !important;
}

@media screen and (max-width: 400px) {
  .txt {
    font-size: 30px !important;
  }
}
